.toolbar{
    color: black;
     font-size: medium;
     background-color: white;
   }
 
   .logo{
       color: black;
     font-size: 26px;
     font-weight: bold;
     font-kerning: auto;
   }
 
   .example-icon {
     padding: 0 14px;
   }
   .spacer {
     flex: 1 1 auto;
   }